.info-panel {
	> div {
		background: white;
		border: 1px solid rgba(64, 64, 64, 0.3);
		padding:	10px;
		margin-top:	-5px;

		> div {
			height: 300px;
			padding-bottom: 50px;
		}
	}

	h3 {
		margin-left:	5px;
	}
}
